:root {
    /*colours*/
    --color-text: #333333;
    --color-primary: #FADADD;
    --color-secondary: #ACE7FF;
    --color-dark: #1c729e;
    --color-bg: #FFFFFF;

    /*Fonts*/
    --font-robot: "Roboto";
}